.home {
  background-color: white;
}

.home h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: white;
  font-family: "Madimi One", sans-serif;
  margin-top: 20px;
  text-decoration: underline;
}

.home h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
  font-family: "Madimi One", sans-serif;
}

.home h3 {
  font-size: 25px;
  color: white;
  font-family: "Madimi One", sans-serif;
}

.home h4 {
  font-size: 20px;
  color: white;
  font-family: "Madimi One", sans-serif;
}

.home p {
  font-size: 20px;
  color: white;
  font-family: "Madimi One", sans-serif;
}

.container-home {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: black;
}

.text-home {
  width: 70%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-transition {
  transition: all 2s ease-in-out;
}

.position-picture {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-left: 150px;
}

.picture {
  border-radius: 50%; /* Applique une forme de cercle */
  width: 200px; /* Ajustez la largeur selon vos besoins */
  height: 200px; /* Ajustez la hauteur selon vos besoins */
  object-fit: cover; /* Assure que l'image couvre complètement le conteneur */
  height: auto;
  display: flex;
  justify-content: flex-end;
  object-fit: cover;
}

.presentation-text {
  padding: 20px;
}

.skill h1 {
  color: black;
  padding-left: 20px;
  display: flex;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: column;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.logo-skills {
  width: 8%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 2px solid black;
  border-radius: 20%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 3);
}

.logo-skill {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .picture {
    width: 200px;
    height: 200px;
    margin-top: 30px;
  }
  .logos {
    margin-left: 20px;
    margin-right: 20px;
  }
  .logo-skills {
    width: 20%;
  }
}

@media screen and (max-width: 700px) {
  .container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
  }
  .text-home {
    text-align: center;
    margin: auto;
  }

  .position-picture {
    margin-bottom: 20px; /* Espace entre la photo et le texte */
    margin: auto 0;
    margin-bottom: 20px;
  }
  .logos {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .logo-skills {
    width: 30%;
  }
}
