.ProjectTitle {
  text-align: center;
}

.project-details-container {
  text-align: center;
}

.banner-top {
  background-color: black;
}

.project-title {
  margin-top: 20px;
  background-color: black;
  color: white;
  padding: 30px;
  font-family: "Madimi One", sans-serif;
  text-decoration: underline;
}

.title-git {
  font-family: "Madimi One", sans-serif;
  color: white;
  padding-bottom: 40px;
  font-size: 25px;
}

.project-image {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.project-description {
  margin-top: 20px;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  gap: 20px;
}

.a-project {
  width: 45%;
}

.image-wrapper {
  width: 45%; /* Définissez la largeur souhaitée */
  height: 40%; /* Définissez la hauteur souhaitée */
  overflow: hidden; /* Pour s'assurer que les images ne dépassent pas les limites du conteneur */
  border-radius: 10px; /* Pour arrondir les coins de l'image */
  padding: 10px; /* Espace à l'intérieur du cadre */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre légère sans bordure */
}

.custom-width-collapse {
  width: 80%;
  display: flex;
  justify-content: center;
}

.container-collapse.centered {
  margin: 0 auto; /* Pour centrer horizontalement */
  width: 80%;
}

.description {
  color: black;
  font-family: "Madimi One", sans-serif;
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-wrapper {
    margin-bottom: 20px;
    width: 80%;
    object-fit: none;
  }
  .project-image {
    object-fit: inherit;
  }
  .tag {
    width: 20%;
    font-size: 13px;
    padding: 3px 6px;
    margin-right: 2px;
  }
}
