.carousel-container {
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.carousel-image {
  width: 100%; /* Pour s'assurer que l'image remplit la largeur du conteneur */
  height: 600px; /* Taille fixe pour toutes les images */
  object-fit: cover; /* Pour s'assurer que l'image couvre la zone spécifiée tout en conservant son rapport d'aspect */
  border-radius: 10px; /* Ajout des coins arrondis */
  display: block; /* Pour centrer l'image horizontalement */
  margin: 0 auto; /* Pour centrer l'image horizontalement */
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.carousel-overlay p {
  color: white; /* Changer la couleur du titre en blanc */
  font-size: 30px;
  margin-bottom: 5px;
  border: 2px solid black; /* Ajouter un cadre autour du titre */
  background-color: black;
  padding: 5px; /* Ajouter un espace à l'intérieur du cadre */
  font-family: "Madimi One", sans-serif;
}

.tag {
  background-color: black;
  color: white; /* Changer la couleur des tags en blanc */
  padding: 5px 10px; /* Ajuster le rembourrage des tags */
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  border: 2px solid black; /* Ajouter un cadre autour des tags */
  margin-right: 20px;
  font-family: "Madimi One", sans-serif;
}

.tags-container {
  margin-top: 20px;
}

.carousel-inner {
  border-radius: 5%;
}
.carousel {
  width: 50%;
  height: 20%;
  margin: 0 auto;
  border-radius: 20%;
}

.fixed-size-image {
  width: 100%;
  object-fit: cover;
}

.carousel-control-prev-icon {
  width: 100px;
}
